[Unit]
Description=residence-serial docker container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a residence-serial
ExecStop=/usr/bin/docker stop residence-serial

[Install]
WantedBy=multi-user.target
