[Unit]
Description=residence-client docker container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a residence-client
ExecStop=/usr/bin/docker stop residence-client

[Install]
WantedBy=multi-user.target
