<!DOCTYPE html>
{% load static %}

<html>
	<head>
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
    <canvas id="canvas"></canvas>

		<table class="main-table">
			<tr id="row-0">
				<td class="debug1">
					<div class="flex-top">
						<div id="top-bar"></div>
					</div>
				</td>
			</tr>
			<tr id="row-1">
				<td class="debug1">
					<div class="flex-center"><p id="temperature">27℃</p></div>
				</td>
			</tr>
			<tr id="row-2">
				<td class="debug1">
					<div class="flex-between">
						<b class="col-left">⏲️ AQI</b>
						<b id="aqi" class="col-right">Good (32)</b>
					</div>
				</td>
			</tr>
			<tr class="rows">
				<td class="debug1">
					<div class="flex-center">
						<div id="bottom-bar"></div>
					</div>
				</td>
			</tr>
			<tr class="rows">
				<td class="debug1">
					<div class="flex-between">
						<p class="col-left">🗜️ Pressure</p>
						<p id="pressure" class="col-right">977 mbar</p>
					</div>
				</td>
			</tr>
			<tr class="rows">
				<td class="debug1">
					<div class="flex-between">
						<p class="col-left">☁️ eCO2</p>
						<p id="eco2" class="col-right">400 ppm</p>
					</div>
				</td>
			</tr>
			<tr class="rows">
				<td class="debug1">
					<div class="flex-between">
						<p class="col-left">⚠️ TVOC</p>
						<p id="tvoc" class="col-right">5 ppb</p>
					</div>
				</td>
			</tr>
		</table>

		<script src="{% static 'js/scripts.js' %}"></script>
	</body>
</html>
