[Unit]
Description=weather-pimoroni docker container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a weather-pimoroni
ExecStop=/usr/bin/docker stop weather-pimoroni

[Install]
WantedBy=multi-user.target
