[Unit]
Description=bbp-prometheus docker container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a bbp-prometheus
ExecStop=/usr/bin/docker stop bbp-prometheus

[Install]
WantedBy=multi-user.target
