[Unit]
Description=weather-webserver docker container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a weather-webserver
ExecStop=/usr/bin/docker stop weather-webserver

[Install]
WantedBy=multi-user.target
